//sass --watch sass:public/css --style compressed
@import "modules/_navbar";
@import "vars";
@import "modules/_footer";
@import "modules/_errors";


h3
{
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
}

p
{
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;

}




.hidden 
{
 display: none !important;
}


body
{
 background-color: rgb(255, 255, 255);
 margin: auto;
}
h3 {
    font-size: $h3_fontSize;
    // margin: 80px 0 20px 0;
    text-transform: uppercase;
    line-height: 1.1em;
  }

header
{
 background: url(../images/hero_mobile.png) no-repeat center; 
 background-size: cover; 
 
}

.overflow 
{
 overflow: hidden;
}

h3 
{
 font-size: $h3_fontSize;
//  margin: 80px 0 20px 0;
 text-transform: uppercase;
 line-height: 1.1em;
}
#mainTitle
{
 color: white;
 font-size: 25px;
 line-height: 1.6;
 font-family: century-gothic, sans-serif;
 font-style: normal;
font-weight: 400;

//  font-family: 'Sriracha', cursive;
}
  
header
{
 height: 60vh;
 min-height: 800px;
}

.logo 
{
 height: 70px;
 

 
}
.hero 
{
    margin: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 
    {
      font-size: 8vw;
      margin: 0px 0 300px 0;
      text-align: left;
      text-transform: capitalize;
      color:#3C3C3C;
    }

    
  }

  .aboutYuliia
  {
      h3
      {
          color: #020241;
          font-size: 50px;
          position: relative;
          top: -65px;
        
        left: 50%;
        transform: translate(-50%, -50%);
      } 

      #yuliiaPic
      {
          position: relative;
         top: -75px;
        
      } 
      p 
      {
        color:#272727;
        font-size: 25px;
        margin-top: -55px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: left;
      }

      .wrapper 
      {
        padding: 10px;
      }
  }
  .latestWorks
  {
     
    // background: #AAE9F9;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(170,233,249,1) 35%, rgba(170,233,249,1) 67%, rgba(255,255,255,0) 100%);

    
    .works
    {
    background-color: white;
	
    // padding: 20px;
    
	text-align: center;
    max-width: 300px;
    height: 436px;
    margin: 10px;
    box-shadow: 15px 15px 40px grey;

    img{
        object-fit: cover;
        width: 100%;
    }
	
        
    }

    h3
    
        {
            color: #020241;
            font-size: 30px;
            text-align: center;
           
        } 

        h4{
            color: black;
        }

    
  

}

.portfolioPic{
    width: 100%;
    display: flex;
     
     flex-wrap: wrap;
     justify-content: space-evenly;
     position: relative;
    align-items: center;}

.contact {

    h3
    
        {
            color: #020241;
            font-size: 50px;
            text-align: center;
           
        } 
    h4 {
      margin: 20px;
    }
    .underline {
      text-decoration: underline;
    }
    p {
      text-align: center;
      margin-bottom: 40px;
      padding: 10px;
    }
  }
  
  .contactForm {
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    ::placeholder {
      font-size: 18px;
      opacity: 0.5;
      padding: 10px 20px;
    }
  
    form {
      padding: 60px 20px;
    }
  
    .formColumn {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  
    input,
    textarea {
      margin: 0px 0px 40px 0px;
      // width: 80vw;
      // height: 50px;
      border: solid 3px #0C0557;
      border-radius: 10px;
      background-color: transparent;
      color: $text-color;
      font-size: 18px;
      flex: 1;
      padding: 10px;
  
      outline: none;
    }
  
    // input:last-child {
    //   margin: 0px 40px 0px 0px;
    // }
  
    textarea {
      margin: 0px 0px 0px 0px;
      height: 270px;
      width: 100%;
      box-sizing: border-box;
      // padding: 5px 20px;
      // flex: 1 1 300px;
    }
  
    input:active {
      outline: none;
    }
    .button {
        margin: 20px auto;
        background: lightblue;
        width: 200px;
    padding: 20px
       

        
      }
      
  }

footer
{
    background:  #020241;

}

.lightbox-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 17;
    background: rgba($color: #000000, $alpha: .8);
}

.lightbox{
    background: white;
    width: 100vw;
    max-width: 500px;
    height: 90vh;
    margin-top: 20px;
    z-index: 17;
    overflow: scroll;
    display: block;

    img{
        width: 100%;
        object-fit: cover;
    }

    h3,h4,h5,p{
        color: black;
    }
}

.close-btn{
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (min-width: 768px) {
    header {
      background: url(../images/hero_img_tablet.jpg);
      background-size: cover;
      background-position: top;
      height: 90vh;
    }
    header {
      padding: 0 90px;
    }
  
    h3 {
      margin: 80px 0 40px 0;
    }
  
    .logo {
      height: 7.5vw;
    }
  
    .hero {
      justify-content: flex-start;
      h3 {
        font-size: 7vh;
      }
      p {
        font-size: 6vh;
        margin-bottom: 55px;
      }
    }
}

@media screen and (min-width: 1024px) {
    header {
      background: url(../images/hero_img.png);
      background-size: cover;
      background-position: top;
    }
}

@media screen and (min-width: 1440px) {
    header{
        height: 1100px;
    }
}