$h3_fontSize: 2em;
$h3_font-family: century-gothic, sans-serif;
// $h3_font-style: normal;
// $h3_font-weight: 400;

$h4_fontSize: 1.5em;
$p_font-family: century-gothic, sans-serif;
// $p_font-style: normal;
// $p_font-weight: 400;

$description: 1.5em ;

$text-color:#3C3C3C;
$rec_height: 500px;
$square_size_desktop: 20vw;
$square_size_tablet: 40vw;
$square_size_mobile: 80vw;